Repository jgtolentino/odoboo-workspace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jgtolentino, @web-senior, @backend-senior, @mobile-senior

.github/CODEOWNERS:

/docs/ @jgtolentino
/app/** @web-senior
/supabase/migrations/** @backend-senior
/supabase/functions/** @backend-senior
/packages/mobile/** @mobile-senior

feat: implement Notion-style workspace with OCA module integration
  .eslintrc 2.json
  app/notion-demo/page.tsx
  components/editor/BlockEditor.tsx
  docs/Notion-Workspace-Roadmap.md
  scripts/09_notion_workspace_schema.sql
Owners: @web-senior, @jgtolentino

feat: add missing project and block schema tables
  scripts/10_project_management_schema.sql
  scripts/11_block_data_model.sql
  scripts/run-all-migrations.ts
Owners: none

fix: resolve Tailwind CSS v4 styling configuration
  app/globals.css
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/notion-demo.spec.ts
Owners: @web-senior

feat: Add ChatGPT plugin server for AI Infrastructure Manager
  chatgpt-plugin-server/deploy.sh
  chatgpt-plugin-server/openapi.yaml
  chatgpt-plugin-server/package-lock.json
  chatgpt-plugin-server/package.json
  chatgpt-plugin-server/server.js
  chatgpt-plugin-server/test.js
Owners: none

Add Dockerfile and Digital Ocean app spec for deployment
  chatgpt-plugin-server/.do/app.yaml
  chatgpt-plugin-server/Dockerfile
Owners: none

Fix source_dir and dockerfile_path in app spec
  chatgpt-plugin-server/.do/app.yaml
Owners: none

Add ChatGPT plugin as Supabase Edge Function
  supabase/functions/chatgpt-plugin/index.ts
Owners: @backend-senior

Update ChatGPT plugin: simplified GitHub token auth, public access
  supabase/functions/chatgpt-plugin/index.ts
Owners: @backend-senior

feat: add VS Code extension for Odoo workspace with deployment monitoring
  .gitignore
  vscode-extension/.gitignore
  vscode-extension/.vscodeignore
  vscode-extension/README.md
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/commands/deploymentStatus.ts
  vscode-extension/src/commands/launchOdoo.ts
  vscode-extension/src/commands/rpcConsole.ts
  vscode-extension/src/commands/schemaGuard.ts
  vscode-extension/src/commands/testImpact.ts
  vscode-extension/src/commands/visualSnapshot.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/providers/DeploymentStatusProvider.ts
  vscode-extension/src/providers/DigitalOceanProvider.ts
  vscode-extension/src/providers/GitHubProvider.ts
  vscode-extension/src/providers/SupabaseProvider.ts
  vscode-extension/src/providers/VercelProvider.ts
  vscode-extension/tsconfig.json
Owners: none

feat: Add comprehensive secret management with Supabase Vault
  docs/AI_AGENT_SECRET_MANAGEMENT.md
  docs/SECRET_MANAGEMENT_QUICKSTART.md
  scripts/migrate-secrets-to-vault.sh
  supabase/functions/chatgpt-plugin/index.ts
  supabase/functions/chatgpt-plugin/vault-client.ts
  supabase/migrations/20251019_vault_setup.sql
Owners: @jgtolentino, @backend-senior

docs: Add platform management APIs and Odoo/OCA integration guides
  docs/ODOO_OCA_INTEGRATION_GUIDE.md
  docs/PLATFORM_MANAGEMENT_APIS.md
Owners: @jgtolentino

docs: Complete Notion workspace deployment + ChatGPT database handoff
  docs/CHATGPT_DATABASE_HANDOFF.md
  docs/CURRENT_DEPLOYMENT_STATUS.md
  docs/NOTION_WORKSPACE_DEPLOYMENT.md
  docs/SAMPLE_PAGE_GUIDE.md
  scripts/11_notion_sample_page.sql
  supabase/migrations/003_feature_inventory.sql
Owners: @jgtolentino, @backend-senior

docs: Add division of labor between ChatGPT and Claude Code
  docs/DIVISION_OF_LABOR.md
Owners: @jgtolentino

feat: Add apps catalog schema + full CI/CD automation
  .github/workflows/ci-cd-full.yml
  .github/workflows/deploy-frontend.yml
  supabase/migrations/005_apps_catalog.sql
Owners: @backend-senior

docs: Add professional Draw.io technical architecture diagrams
  docs/diagrams/README.md
  docs/diagrams/cicd-pipeline.drawio
  docs/diagrams/database-schema.drawio
  docs/diagrams/system-architecture.drawio
Owners: @jgtolentino

docs: Add Azure Well-Architected Framework assessment
  docs/WELL_ARCHITECTED_ASSESSMENT.md
  docs/diagrams/ai-chat-architecture.drawio
Owners: @jgtolentino

docs(analytics): Add medallion architecture for analytics workloads
  docs/ANALYTICS_ARCHITECTURE.md
  docs/diagrams/README.md
  docs/diagrams/medallion-architecture.drawio
  supabase/migrations/006_analytics_medallion.sql
Owners: @jgtolentino, @backend-senior

docs: add deployment ready summary
  DEPLOYMENT_READY.md
Owners: none

fix: update GitHub repo in DO app spec
  infra/do/ocr-service.yaml
Owners: none

fix: update Dockerfile to use libgl1 instead of deprecated libgl1-mesa-glx
  services/ocr-service/Dockerfile
Owners: none

fix: increase instance size to basic-s for OCR service (2.5GB deps)
  infra/do/ocr-service.yaml
Owners: none

chore: repo hygiene + CI + DB sync check
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/db-prod.yml
  .github/workflows/db-staging.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  create_repo_hygiene.sh
  scripts/db-sync-check.sh
Owners: none

feat: add production deployment automation for OCR service
  docs/OCA_MINIMAL_CORE.md
  infra/do/DEPLOYMENT_COMMANDS.sh
  infra/do/DEPLOYMENT_STEPS.md
  infra/do/DEPLOY_MANUAL.sh
  infra/do/DEPLOY_PRODUCTION.sh
  infra/do/DEPLOY_WITH_TLS.sh
  infra/do/FINAL_DEPLOYMENT_CHECKLIST.md
  infra/do/QUICKSTART.md
  infra/do/SNAPSHOT_AUTOMATION.sh
  infra/do/deploy-droplet.sh
  infra/do/docker-compose-droplet.yml
  infra/do/nginx-ocr.conf
  infra/do/nginx.conf
  scripts/download_oca_minimal.sh
Owners: @jgtolentino

feat: add comprehensive task tracking + OCR deployment system
  .claude/settings.local.json
  CHANGELOG.md
  FEATURES.md
  README.md
  SESSION_SUMMARY.md
  constitution.md
  docs/OCR_QUICKSTART.md
  docs/OCR_SERVICE_DEPLOYMENT.md
  plan/architecture.md
  plan/deployment.md
  plan/ocr-technical.md
  plan/stack.md
  services/ocr-service/app/ocr_engine.py
  spec/00-product-vision.md
  spec/01-ocr-expense-processing.md
  tasks/README.md
  vscode-extension/IMPLEMENTATION_GUIDE.md
  vscode-extension/package.json
Owners: @jgtolentino

feat: add production hardening checklist
  docs/PRODUCTION_CHECKLIST.md
Owners: @jgtolentino

feat: add production-ready Odoo 18 deployment infrastructure
  infra/odoo/.env.sample
  infra/odoo/README.md
  infra/odoo/config/odoo.conf
  infra/odoo/deploy.sh
  infra/odoo/docker-compose.yml
  infra/odoo/nginx.conf
  scripts/install-modules.sh
Owners: none

fix: improve CI/CD workflows to prevent false failures
  .github/workflows/deploy-odoo.yml
  .github/workflows/deployment-monitor.yml
Owners: none

docs: add comprehensive session summary for Odoo deployment
  SESSION_SUMMARY_ODOO_DEPLOYMENT.md
Owners: none

feat: add Anthropic Skills framework + fix CI lockfile
  SKILLS_SUMMARY.md
  docs/WEB_MOBILE_DEPLOYMENT.md
  pnpm-lock.yaml
  skills/ai-analytics-genie/SKILL.md
  skills/design-tokens/SKILL.md
  skills/odoo-migration/SKILL.md
  skills/qweb-to-react/SKILL.md
Owners: @jgtolentino

feat: Integrate odoobo-expert reviewer with SuperClaude framework
  .claude/agents/odoobo-reviewer.agent.yaml
  .claude/services/odoobo-reviewer/Dockerfile
  .claude/services/odoobo-reviewer/config.json
  .claude/services/odoobo-reviewer/main.py
  .github/workflows/ocr-uptime.yml
  .gitignore
  AGENT_CAPABILITIES.md
  AGENT_INSTRUCTIONS_COMPLETE.md
  DEPLOYMENT_COMPLETE.md
  DNS_SETUP.md
  ODOO_DEPLOYMENT_SUMMARY.md
  PRODUCTION_COMPLETION_CLI.md
  SSH_SETUP.md
  scripts/deploy-odoobo-reviewer.sh
Owners: none

refactor: Simplify odoobo-reviewer to use direct endpoint
  .claude/agents/odoobo-reviewer.agent.yaml
Owners: none

feat: add Notion migration + OCA installation scripts
  docs/NOTION_MIGRATION_GUIDE.md
  scripts/install-oca.sh
  scripts/notion-to-odoo.py
Owners: @jgtolentino

feat: add admin setup and dev database with demo data
  scripts/notion-to-odoo.py
  scripts/set-admin-credentials.sh
  scripts/setup-dev-db.sh
Owners: none

docs: add comprehensive Odoo 18 + OCA deployment summary
  ODOO_OCA_DEPLOYMENT_SUMMARY.md
Owners: none

feat: add custom_security module for hiding vendor names
  addons/custom_security/README.md
  addons/custom_security/__init__.py
  addons/custom_security/__manifest__.py
  addons/custom_security/security/ir.model.access.csv
  addons/custom_security/security/security_groups.xml
  addons/custom_security/views/product_views.xml
Owners: none

feat: add complete Notion-style workspace setup for Odoo 18
  data/templates/01_tasks_import_template.csv
  data/templates/02_calendar_events_template.csv
  data/templates/03_evidence_repository_template.csv
  data/templates/04_knowledge_pages_template.csv
  data/templates/README.md
  docs/NOTION_WORKSPACE_DEPLOYMENT_GUIDE.md
  scripts/bulk-import-data.py
  scripts/quick-start-notion-workspace.sh
  scripts/setup-base-records.py
  scripts/setup-custom-fields.py
  scripts/setup-notion-workspace.sh
  scripts/setup-workflows.py
Owners: @jgtolentino

docs: add comprehensive mobile apps guide for Notion workspace
  docs/NOTION_WORKSPACE_MOBILE_APPS.md
Owners: @jgtolentino

docs: add comprehensive session summary for custom modules and Notion migration
  SESSION_CUSTOM_MODULES_SUMMARY.md
Owners: none

feat: add production-safe database migration system + infra mismatch report
  .github/workflows/db-prod.yml
  .github/workflows/db-staging.yml
  app/api/migrations/route.ts
  docs/DATABASE_MIGRATIONS.md
  docs/INFRA_DEPLOY_MISMATCH_REPORT.md
  package.json
  scripts/run-migrations.js
Owners: @web-senior, @jgtolentino

security: add deployment safety guardrails + secret management
  .env.sample
  .gitignore
  docs/GITHUB_SECRETS_SETUP.md
  docs/ROLLBACK_PLAYBOOK.md
  scripts/00_migration_state_tracking.sql
  scripts/purge-secrets-from-history.sh
Owners: @jgtolentino
